body {
	font-family: "IBM Plex Sans", sans-serif;
	background-color: lightblue;
    margin: 0;
}

.flex-searchbox {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
