<style>
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Press+Start+2P&display=swap');
</style> 

<head>
    <!-- <link rel="stylesheet" href={{ url_for('static', filename='stylesheets/style.css') }}/> -->
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
	<title>p-wikiracer</title>
</head>

<body>
    <h1>Wikiracer!</h1>

        <form method="POST" action = "/">
            <div class="headers">
                <div class="start-header">
                    <div class="rectangle">Input</div>
                </div>
                <div class="end-header">
                    <div class="rectangle">Output</div>
                </div>   
            </div>

            <div class="form-group">
                <div class="start-field">
                    <input type="text" name = "start">
                </div>
                <div class="end-field">
                    <input type="text" name = "end">
                </div>
            </div>
            <div class = "submit-button">
                <input class="btn" type="submit" value="submit">
            </div>

            <a href="{{ url_for('static', filename='/car.png') }}" class="red rcar"><img src="/static/rightcar.png"></a>
            <a href="{{ url_for('static', filename='/car.png') }}" class="blue bcar"><img src="/static/bluecar.png"></a>
            <a href="{{ url_for('static', filename='/car.png') }}" class="green gcar"><img src="/static/greencar.png"></a>

        </form>
</body>
