<style>
    @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Press+Start+2P&display=swap');
</style> 

<head>
    <link rel="stylesheet" href={{ url_for('static', filename='stylesheets/style.css') }}/>
	<title>p-wikiracer</title>
</head>

<body>
    <h1>The output path is:</h1>
    <h2>{{path_val}}</h2>
    <div class="grid-container">
        <div class="result-container">
            <div class="result-list">
                Hello my name is Michele and I am a student at Pomona College.
            </div>
        </div>
        <div class="embed-web">
            <iframe src="https://en.wikipedia.org/wiki/Pomona_College"></iframe>
        </div>
    </div>
    
</body>
